<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ipsma3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6F434C21D51C126007AA603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F434D61D51C126007AA603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F434E11D51C126007AA603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
